body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 8px;
    overflow-x: auto; /* Aggiunto per rendere il contenitore scrollabile orizzontalmente */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    gap: 10px;
}

.icon {
    font-size: 1.5em;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input,
.input-group select,
.input-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
    margin: 5px;
}

button.delete-button {
    background-color: #dc3545;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-width: 600px; /* Aggiunto per forzare una larghezza minima */
}

table th,
table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}

.appointments-link {
    display: inline-block;
    margin-bottom: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.appointments-link i {
    margin-right: 5px;
}

.result {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

.upcoming-appointment {
    margin-top: 20px;
    font-size: 1em;
    color: #333;
}

.login-container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .icon-container {
        flex-direction: column;
        align-items: flex-end;
    }

    .icon {
        font-size: 1.2em;
    }

    button {
        width: 100%;
        margin-top: 10px;
    }

    table {
        min-width: 0; /* Rimuove la larghezza minima per i dispositivi mobili */
    }
}
